@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans/OpenSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

:root {
  --pix-font-open-sans: "Open Sans", Arial, sans-serif;
  --pix-font-roboto: "Roboto", Arial, sans-serif;
  --pix-font-normal: 400;
  --pix-font-medium: 500;
  --pix-font-bold: 700;
}
