
    .pix-button {
      color: var(--pix-neutral-0);
      font-size: 0.875rem;
      font-weight: var(--font-medium);
      white-space: nowrap;
      cursor: pointer;
      background-color: var(--pix-primary);
      border: 1px solid transparent;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      /* deprecated in favor of --background-transparent-light + --border */
    }
    .pix-button--shape-rounded {
      border-radius: 25px;
    }
    .pix-button--shape-squircle {
      border-radius: 4px;
    }
    .pix-button--size-big {
      padding: 12px 24px;
    }
    .pix-button--size-small.pix-button--shape-rounded {
      padding: 8px 24px;
    }
    .pix-button--size-small.pix-button--shape-squircle {
      padding: 8px 16px;
    }
    .pix-button--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    .pix-button--background-blue {
      background-color: var(--pix-primary);
    }
    .pix-button--background-blue:not(.pix-button--disabled):hover {
      background-color: var(--pix-primary-60);
    }
    .pix-button--background-blue:not(.pix-button--disabled):focus, .pix-button--background-blue:not(.pix-button--disabled):focus-visible {
      background-color: var(--pix-primary-60);
      outline: 1px solid var(--pix-neutral-0);
      outline-offset: -4px;
    }
    .pix-button--background-blue:not(.pix-button--disabled):active {
      background-color: var(--pix-primary-70);
      outline: none;
    }
    .pix-button--background-green {
      background-color: var(--pix-success-60);
    }
    .pix-button--background-green:not(.pix-button--disabled):hover {
      background-color: var(--pix-success-70);
    }
    .pix-button--background-green:not(.pix-button--disabled):focus, .pix-button--background-green:not(.pix-button--disabled):focus-visible {
      background-color: var(--pix-success-70);
      outline: 1px solid var(--pix-neutral-0);
      outline-offset: -4px;
    }
    .pix-button--background-green:not(.pix-button--disabled):active {
      background-color: var(--pix-success-80);
      outline: none;
    }
    .pix-button--background-yellow {
      color: var(--pix-neutral-100);
      background-color: var(--pix-warning-40);
    }
    .pix-button--background-yellow:not(.pix-button--disabled):hover {
      background-color: var(--pix-warning-50);
    }
    .pix-button--background-yellow:not(.pix-button--disabled):focus, .pix-button--background-yellow:not(.pix-button--disabled):focus-visible {
      background-color: var(--pix-warning-50);
      outline: 1px solid var(--pix-neutral-0);
      outline-offset: -4px;
    }
    .pix-button--background-yellow:not(.pix-button--disabled):active {
      background-color: var(--pix-warning-60);
      outline: none;
    }
    .pix-button--background-red {
      color: var(--pix-neutral-0);
      background-color: var(--pix-error-70);
    }
    .pix-button--background-red:not(.pix-button--disabled):hover {
      background-color: var(--pix-error-80);
    }
    .pix-button--background-red:not(.pix-button--disabled):focus, .pix-button--background-red:not(.pix-button--disabled):focus-visible {
      background-color: var(--pix-error-70);
      outline: 1px solid var(--pix-neutral-0);
      outline-offset: -4px;
    }
    .pix-button--background-red:not(.pix-button--disabled):active {
      background-color: var(--pix-error-90);
      outline: none;
    }
    .pix-button--background-grey {
      color: var(--pix-neutral-90);
      background-color: var(--pix-neutral-20);
    }
    .pix-button--background-grey:not(.pix-button--disabled):hover {
      background-color: var(--pix-neutral-22);
    }
    .pix-button--background-grey:not(.pix-button--disabled):focus, .pix-button--background-grey:not(.pix-button--disabled):focus-visible {
      background-color: var(--pix-neutral-90);
      color: var(--pix-neutral-0);
      outline: 1px solid var(--pix-neutral-0);
      outline-offset: -4px;
    }
    .pix-button--background-grey:not(.pix-button--disabled):active {
      background-color: var(--pix-neutral-25);
      color: var(--pix-neutral-90);
      outline: none;
    }
    .pix-button--background-transparent {
      background-color: transparent;
      color: var(--pix-neutral-50);
      border: 1px solid var(--pix-neutral-50);
    }
    .pix-button--background-transparent-light {
      color: var(--pix-neutral-90);
      background-color: transparent;
    }
    .pix-button--background-transparent-light.pix-button--border {
      border: 1px solid var(--pix-neutral-50);
    }
    .pix-button--background-transparent-light:not(.pix-button--disabled):hover {
      background-color: var(--pix-neutral-60);
      color: var(--pix-neutral-0);
      border: 1px solid transparent;
    }
    .pix-button--background-transparent-light:not(.pix-button--disabled):focus, .pix-button--background-transparent-light:not(.pix-button--disabled):focus-visible {
      background-color: var(--pix-neutral-90);
      color: var(--pix-neutral-0);
      outline: 1px solid var(--pix-neutral-0);
      outline-offset: -4px;
    }
    .pix-button--background-transparent-light:not(.pix-button--disabled):active {
      background-color: var(--pix-neutral-70);
      outline: none;
    }
    .pix-button--background-transparent-dark {
      color: var(--pix-neutral-0);
      background-color: transparent;
    }
    .pix-button--background-transparent-dark.pix-button--border {
      border: 1px solid var(--pix-neutral-0);
    }
    .pix-button--background-transparent-dark:not(.pix-button--disabled):hover {
      background-color: var(--pix-neutral-10);
      color: var(--pix-neutral-90);
      border: 1px solid transparent;
    }
    .pix-button--background-transparent-dark:not(.pix-button--disabled):focus, .pix-button--background-transparent-dark:not(.pix-button--disabled):focus-visible {
      background-color: var(--pix-neutral-10);
      color: var(--pix-neutral-90);
      outline: 1px solid var(--pix-neutral-90);
      outline-offset: -4px;
    }
    .pix-button--background-transparent-dark:not(.pix-button--disabled):active {
      background-color: var(--pix-neutral-20);
      outline: none;
    }

.pix-button--background-blue {
      background: var(--pix-primary-certif-gradient);
      color: var(--pix-primary-5);
      border: solid var(--pix-environment-dark) 2rem;
}
 
