.pix-message {
  margin: 0;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  border-radius: 4px;
  align-items: center;
  display: flex;

  &.pix-message--info {
    color: var(--pix-color-primary-70);
    background-color: var(--pix-color-primary-5);
  }

  &.pix-message--alert {
    color: var(--pix-color-error-70);
    background-color: var(--pix-color-error-5);
  }

  &.pix-message--error {
    color: var(--pix-color-error-70);
    background-color: var(--pix-color-error-5);
  }

  &.pix-message--success {
    color: var(--pix-color-success-70);
    background-color: var(--pix-color-success-5);
  }

  &.pix-message--warning {
    color: var(--pix-color-warning-70);
    background-color: var(--pix-color-warning-5);
  }

  svg {
    margin-right: 8px;
  }
}
