.pix-button {
  color: var(--pix-color-neutral-0);
  font-size: 0.875rem;
  font-weight: var(--pix-font-medium);
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--pix-color-primary);
  border: 1px solid transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &--shape-rounded {
    border-radius: 25px;
  }

  &--shape-squircle {
    border-radius: 4px;
  }

  &--size-big {
    padding: 12px 24px;
  }

  &--size-small.pix-button--shape-rounded {
    padding: 8px 24px;
  }

  &--size-small.pix-button--shape-squircle {
    padding: 8px 16px;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--background-blue {
    background-color: var(--pix-color-primary);

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: var(--pix-color-primary-60);
      }

      &:focus,
      &:focus-visible {
        background-color: var(--pix-color-primary-60);
        outline: 1px solid var(--pix-color-neutral-0);
        outline-offset: -4px;
      }

      &:active {
        background-color: var(--pix-color-primary-70);
        outline: none;
      }
    }
  }

  &--background-green {
    background-color: var(--pix-color-success-60);

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: var(--pix-color-success-70);
      }

      &:focus,
      &:focus-visible {
        background-color: var(--pix-color-success-70);
        outline: 1px solid var(--pix-color-neutral-0);
        outline-offset: -4px;
      }

      &:active {
        background-color: var(--pix-color-success-80);
        outline: none;
      }
    }
  }

  &--background-yellow {
    color: var(--pix-color-neutral-100);
    background-color: var(--pix-color-warning-40);

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: var(--pix-color-warning-50);
      }

      &:focus,
      &:focus-visible {
        background-color: var(--pix-color-warning-50);
        outline: 1px solid var(--pix-color-neutral-0);
        outline-offset: -4px;
      }

      &:active {
        background-color: var(--pix-color-warning-60);
        outline: none;
      }
    }
  }

  &--background-red {
    color: var(--pix-color-neutral-0);
    background-color: var(--pix-color-error-70);

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: var(--pix-color-error-80);
      }

      &:focus,
      &:focus-visible {
        background-color: var(--pix-color-error-70);
        outline: 1px solid var(--pix-color-neutral-0);
        outline-offset: -4px;
      }

      &:active {
        background-color: var(--pix-color-error-90);
        outline: none;
      }
    }
  }

  &--background-grey {
    color: var(--pix-color-neutral-90);
    background-color: var(--pix-color-neutral-20);

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: var(--pix-color-neutral-22);
      }

      &:focus,
      &:focus-visible {
        background-color: var(--pix-color-neutral-90);
        color: var(--pix-color-neutral-0);
        outline: 1px solid var(--pix-color-neutral-0);
        outline-offset: -4px;
      }

      &:active {
        background-color: var(--pix-color-neutral-25);
        color: var(--pix-color-neutral-90);
        outline: none;
      }
    }
  }

  /* deprecated in favor of --background-transparent-light + --border */
  &--background-transparent {
    background-color: transparent;
    color: var(--pix-color-neutral-50);
    border: 1px solid var(--pix-color-neutral-50);
  }

  &--background-transparent-light {
    color: var(--pix-color-neutral-90);
    background-color: transparent;

    &.pix-button--border {
      border: 1px solid var(--pix-color-neutral-50);
    }

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: var(--pix-color-neutral-60);
        color: var(--pix-color-neutral-0);
        border: 1px solid transparent;
      }

      &:focus,
      &:focus-visible {
        background-color: var(--pix-color-neutral-90);
        color: var(--pix-color-neutral-0);
        outline: 1px solid var(--pix-color-neutral-0);
        outline-offset: -4px;
      }

      &:active {
        background-color: var(--pix-color-neutral-70);
        outline: none;
      }
    }
  }

  &--background-transparent-dark {
    color: var(--pix-color-neutral-0);
    background-color: transparent;

    &.pix-button--border {
      border: 1px solid var(--pix-color-neutral-0);
    }

    &:not(.pix-button--disabled) {
      &:hover {
        background-color: var(--pix-color-neutral-10);
        color: var(--pix-color-neutral-90);
        border: 1px solid transparent;
      }

      &:focus,
      &:focus-visible {
        background-color: var(--pix-color-neutral-10);
        color: var(--pix-color-neutral-90);
        outline: 1px solid var(--pix-color-neutral-90);
        outline-offset: -4px;
      }

      &:active {
        background-color: var(--pix-color-neutral-20);
        outline: none;
      }
    }
  }
}
