.pix-stars {
  display: flex;
  height: 2.25rem;

  & * + * {
    margin-left: var(--pix-spacing-xxs);
  }
}

.pix-stars__item {
  height: 100%;
  fill: var(--pix-color-neutral-5);
  stroke: var(--pix-color-neutral-40);

  &[data-acquired] {
    fill: var(--pix-color-secondary-40);
    stroke: var(--pix-color-secondary-60);
  }
}

// Color variant : Blue
.pix-stars__item--color-blue[data-acquired] {
  fill: var(--pix-color-primary-40);
  stroke: var(--pix-color-primary-60);
}

// Color variant : Grey
.pix-stars__item--color-grey {
  fill: var(--pix-color-neutral-0);
  stroke: var(--pix-color-neutral-40);

  &[data-acquired] {
    fill: var(--pix-color-neutral-40);
    stroke: var(--pix-color-neutral-40);
  }
}
