.indicator-card {
  display: flex;
  width: 100%;
  background-color: var(--pix-color-neutral-0);
  border-radius: 8px;
  min-height: 112px;
  box-shadow: 0 4px 8px rgba(var(--pix-color-neutral-110), 0.05);
  padding: 0;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
    min-width: 96px;
    font-size: 2.5rem;

    &--grey {
      color: var(--pix-color-neutral-60);
      background-color: var(--pix-color-neutral-5);  
    }

    &--blue {
      color: var(--pix-color-primary-60);
      background-color: var(--pix-color-primary-5);  
    }

    &--green {
      color: var(--pix-color-success-60);
      background-color: var(--pix-color-success-5);  
    }

    &--purple {
      color: var(--pix-color-tertiary-60);
      background-color: var(--pix-color-tertiary-5);  
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--pix-color-neutral-60);
    padding: var(--pix-spacing-s) var(--pix-spacing-m);
  }

  &__title {
    @extend %pix-body-l;

    display: flex;
    align-items: center;
    font-weight: var(--pix-font-medium);
    font-size: 1rem;
    line-height: 1.375rem;
    margin-bottom: var(--pix-spacing-xxs);
  }

  &__value {
    @extend %pix-title-m;

    margin-bottom: var(--pix-spacing-xxs);
  }

  &__sub {
    @extend %pix-body-s;

    font-weight: var(--pix-font-normal);
    display: flex;
    gap: 10px;
  }

  &__tooltip {
    font-weight: var(--pix-font-normal);
  }

  &__tooltip-icon {
    color: var(--pix-color-neutral-30);
    margin: 0 var(--pix-spacing-xs);
  }
}
